Package: deb-builder-bintray
Version: __VERSION__
Depends: bash
Architecture: all
Maintainer: zlig
Description: Debian Packages Builder Template with upload to Bintray repository using Travis CI (Build date: __DATE__)
